instaCaption/data/raw/selenagomez
instaCaption/data/raw/arianagrande
instaCaption/data/raw/beyonce
instaCaption/data/raw/taylorswift
instaCaption/data/raw/kimkardashian
instaCaption/data/raw/kyliejenner
instaCaption/data/raw/therock
instaCaption/data/raw/justinbieber
instaCaption/data/raw/kendalljenner
instaCaption/data/raw/nickiminaj
instaCaption/data/raw/mileycyrus
instaCaption/data/raw/khloekardashian
instaCaption/data/raw/jlo
instaCaption/data/raw/katyperry
instaCaption/data/raw/ddlovato
instaCaption/data/raw/kourtneykardash
instaCaption/data/raw/badgalriri
instaCaption/data/raw/kevinhart4real
instaCaption/data/raw/justintimberlake
instaCaption/data/raw/zendaya
instaCaption/data/raw/vindiesel
instaCaption/data/raw/shakira
instaCaption/data/raw/davidbeckham
instaCaption/data/raw/chrisbrownofficial
instaCaption/data/raw/myoniles
instaCaption/data/raw/cristiano
instaCaption/data/resized/*
